on:
  push:
    branches:
      - arc-demo
env:
  REGISTRY_NAME: arcDevACR

  DEV_CLUSTER_NAME: arcDevAKS
  STAGING_CLUSTER_NAME: arcStagingAKS
  PROD_CLUSTER_NAME: arcProdAKS

  DEV_CLUSTER_RESOURCE_GROUP: arc-demo-dev
  STAGING_CLUSTER_RESOURCE_GROUP: arc-demo-staging
  PROD_CLUSTER_RESOURCE_GROUP: arc-demo-prod

  NAMESPACE: demo
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master    
    - run: |
        docker build . -t nodejs-hello-world:${{ github.sha }}
  
  deploy-to-dev:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master    
    - uses: azure/k8s-set-context@users/shigupt/arc-set-context
      with:
        cluster-type: 'arc'
        creds: '${{ secrets.AZURE_CREDS }}'
        token: '${{ secrets.SA_TOKEN }}'
        resource-group: 'shiguptOnpremARC'
        cluster-name: 'onpremARCClus'    
    - run: |
        kubectl create namespace ${{ env.NAMESPACE }} --dry-run -o json | kubectl apply -f -    
    - uses: azure/k8s-deploy@v1.2
      with:
        manifests: |
          manifests/deployment.yml
          manifests/service.yml
        images: |
          nodejs-hello-world:${{ github.sha }}
        namespace: ${{ env.NAMESPACE }}
